<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>1abc9c</string>
    <string>2ecc71</string>
    <string>3498db</string>
    <string>9b59b6</string>
    <string>34495e</string>
    <string>16a085</string>
    <string>27ae60</string>
    <string>2980b9</string>
    <string>8e44ad</string>
    <string>2c3e50</string>
    <string>f1c40f</string>
    <string>e67e22</string>
    <string>e74c3c</string>
    <string>ecf0f1</string>
    <string>95a5a6</string>
    <string>f39c12</string>
    <string>d35400</string>
    <string>c0392b</string>
    <string>bdc3c7</string>
    <string>7f8c8d</string>
</array>
</plist>
