<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GUITool.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>286E26621DEAB0DA00D6A06A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>286E26761DEAB0DC00D6A06A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>286E26811DEAB0DC00D6A06A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
